<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Exercicio1_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Exercicio1_V2.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>black</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="Diretorio" serializeAs="String">
                <value>PathDoArquivo</value>
            </setting>
        </Exercicio1_V2.Properties.Settings>
    </userSettings>
</configuration>